html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 5px 0 7px 0;
}

#menu {
  padding: 0.8em;
  width: 310px;
  background: var(--calcite-color-foreground-1);
}

#menu calcite-action {
  --calcite-action-background-color: var(--calcite-color-foreground-2);
  --calcite-action-background-color-hover: var(--calcite-color-foreground-1);
  --calcite-action-background-color-press: var(--calcite-color-foreground-3);
}

#menu calcite-label {
  margin-top: 10px;
  --calcite-label-margin-bottom: 0;
}

#buttons calcite-button {
  width: 100%;
  margin-top: 10px;
}
