@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.33/map-components/main.css";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 5px 0 7px 0;
}

#divMenu {
  padding: 0.8em;
  width: 310px;
  background: var(--calcite-color-foreground-1);
}

#divMenu calcite-action {
  --calcite-action-background-color: var(--calcite-color-foreground-2);
  --calcite-action-background-color-hover: var(--calcite-color-foreground-1);
  --calcite-action-background-color-press: var(--calcite-color-foreground-3);
}

#divMenu calcite-label {
  margin-top: 10px;
  --calcite-label-margin-bottom: 0;
}

#calciteButtons calcite-button {
  width: 100%;
  margin-top: 10px;
}
